@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin-top: 10%;
    overflow: auto; 
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
    background-image: url('https://d3i6fh83elv35t.cloudfront.net/static/2022/05/GettyImages-1239632754-1024x632.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: auto; 
    position: relative;
    color: white; 
    object-fit: cover;
}
.landing-container h2 {
    z-index: 1; 
    margin-left: 3.5rem;
    padding: 20px;
    margin-top: 10%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.3);
    filter: grayscale(90%);
    font-size: 3em;
}

.landing-container button {
    z-index: 1; 
    margin-top: 20px;
    padding: 10px 20px; 
    background-color: orange;
    color: white; 
    border: none; 
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    margin-left: 7rem;
    font-size: 1.5em;

}
.section-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 5%;
}
.section-img-container img {
    align-items: center;
    justify-content: center;
}
.section1-img {
    max-width: 550px;
    margin-left: 2em;
}
.section2-img {
    max-width: 650px;
    mix-blend-mode: multiply;
}
.section-pagrh{
    width: 90%;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    margin-left: 5em;
    margin-top: -7em;
    padding: 10px 12px ;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.section-pagrh h1 {
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 200;
    font-style: normal;
    padding: 30px 0px;

}
.section-pagrh p {
    color: #000;
    font-size: 18px;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto; 
    width: 100%; 
    max-width: 1100px; 
}
.section3_img {
    position: relative; /* Parent container should be relative */
    max-height: 500px; /* Ensure the container has a max height */
    overflow: hidden; /* Hide overflow if needed */
}

.section3_img img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the container */
}

.section3_img p {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 10px; 
    border-radius: 5px; 
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto; 
    font-size: 1.4em;
    width: 100%; 
    max-width: 1100px; 
}

.video-container iframe {
    width: 100%;
    max-width: 700px; 
    border: none; 
}

.our_features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    gap: 4rem;
    top: 80%; 
    right: 2%;
    left: 2%;
}
.our_features img {
    max-width: 350px; 
    max-height: 300px;
    height: auto;
    opacity: 1; 
    border-radius: 10px; 
}
.Africa{
    mix-blend-mode: color-burn;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.Africa img {
    width: 100%;
    max-width: 550px;
}
.Africa_paragraph{
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    margin-top: 7%;
}
.Africa h2{
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}
.Africa p{
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      width: 100%;
      max-width: 700px;
}




/* Media Queries for iPadOS (iPads in both portrait and landscape modes) */
@media (min-width: 768px) and (max-width: 1024px) {
    .home_container {
        display: flex;
        flex-direction: column;
        min-height: 60vh;
        background-image: url('https://www.afro.who.int/sites/default/files/2023-05/SHUTTERSTOCK%20Credit%20-%20Vegetation%20contrast.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        width: 100%;
        height: auto; 
    }
    .landing-container h2 {
        margin-left: 1rem; 
        width: 70%; 
        font-size: 2.2em; 
        padding: 20px; 
        margin-top: 40%;
    }

    .landing-container button {
        width: 40%; 
        margin-left: 1rem; 
        font-size: 1.2em; 
        padding: 19px; 
    }

    .section-img-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 10%;
    }
    .section1-img {
        max-width: 450px;
        margin-left: 0em;
    }
    .section2-img {
        max-width: 500px;
        mix-blend-mode: multiply;
        margin-top: 40%;
    }
    .section-pagrh {
        width: 95%;
        margin-left: 0em;
        margin-top: -35em;
        padding: 12px 15px;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
    }
    .section-pagrh p {
        width: 100%;
        font-size: 16px;
    }
}
/* Media Queries for Responsive Design  mini ipads*/
@media (max-width: 768px) {
    .home_container {
        display: flex;
        flex-direction: column;
        min-height: 50vh;
        background-image: url('https://www.afro.who.int/sites/default/files/2023-05/SHUTTERSTOCK%20Credit%20-%20Vegetation%20contrast.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        width: 100%;
        height: auto; 
    }
    .landing-container h2 {
        margin-left: 0.5rem; 
        width: 80%; 
        font-size: 2.0em; 
        padding: 20px; 
    }

    .landing-container button {
        width: 100%; 
        max-width: 300px;
        margin-left: 1rem; 
        font-size: 1.2em; 
        padding: 10px; 
        margin-bottom: 25%;
    }
    /* part of image style and introduction css */
    .section-img-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        margin-top: 30%;
    }
    .video-container iframe {
        width: 100%; 
        max-width: 500px;
        border: none;
        margin-top: 40%; 
    }
    .section1-img {
        max-width: 450px;
        margin-left: 0em;
        padding: 10px;
    }
    .section2-img {
        max-width: 500px;
        mix-blend-mode: multiply;
        margin-top: 20%;
        padding: 10px;
    }
    .section-pagrh{
        width: 100%;
        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
        margin-left: 0em;
        margin-top: -40em;
        padding: 10px 12px ;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
    }
    .section-pagrh p {
        width: 100%;
        font-size: 15px;
    }
}


@media (max-width: 480px) {
    .home_container {
        background-image: url('https://www.afro.who.int/sites/default/files/2023-05/SHUTTERSTOCK%20Credit%20-%20Vegetation%20contrast.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        width: 100%;
        height: auto; 
        min-height: 90vh;
    }
    .landing-container h2 {
        font-size: 2em; 
        padding: 30px; 
        margin-top: 50%;
    }

    .landing-container button {
        width: 60%; 
        font-size: 1em; 
        padding: 8px; 
    }

    /* part of image style and introduction css */
    .section-img-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        margin-top: 80%;
    }
    .section1-img {
        max-width: 300px;
        margin-left: 0em;
        padding: 10px;
    }   
    .video-container iframe {
        width: 100%; 
        max-width: 350px;
        height: auto; 
        border: none;
        margin-top: 35%; 
    }
    .section2-img {
        max-width: 320px;
        mix-blend-mode: multiply;
        margin-top: 70%;
        padding: 40px;
    }
    .section-pagrh{
        width: 100%;
        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
        margin-left: 0em;
        margin-top: -34em;
        padding: 20px 10px 20px ;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
    }
    .section-pagrh p {
        width: 100%;
        font-size: 15px;
    }
    .Africa{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Africa p{
          width: 100%;
          max-width: 400px;
    }
}