@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin-top: 10%;
    overflow: auto; 
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
    background-image: url('https://d3i6fh83elv35t.cloudfront.net/static/2022/05/GettyImages-1239632754-1024x632.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: auto; 
    position: relative;
    color: white; 
    object-fit: cover;
}
.landing-container h2 {
    z-index: 1; 
    margin-left: 3.5rem;
    padding: 20px;
    margin-top: 10%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.3);
    filter: grayscale(90%);
    font-size: 3em;
}

.landing-container button {
    z-index: 1; 
    margin-top: 20px;
    padding: 10px 20px; 
    background-color: orange;
    color: white; 
    border: none; 
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    margin-left: 7rem;
    font-size: 1.5em;

}
.section-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 8%;
}
.section1-img {
    max-width: 550px;
    margin-left: 2em;
}
.section-pagrh{
    width: 100%;
    max-width: 1200px;
    margin-right: 2em;
    padding: 10px 12px ;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.section-pagrh h1 {
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    padding: 30px 0px;
}
.section-pagrh p {
    color: #000;
    font-size: 18px;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 400;
    line-height: 1.9;
    margin: 0 auto; 
    width: 100%; 
    max-width: 1100px; 
}
.section3_img {
    min-height: 100vh; 
    margin-top: 10%;
    overflow: auto; 
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
    background-image: url('https://a-z-animals.com/media/2021/08/Zebras-1024x535.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: auto; 
    position: relative;
    color: white; 
    object-fit: cover;
}
.section3_img p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.4em;
    width: 100%;
    max-width: 900px;
    margin: 0;
}

.video-container iframe {
    width: 100%;
    max-width: 700px; 
    max-height: 500px;
    border: none; 
}
.Africa{
    mix-blend-mode: color-burn;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.Africa img {
    width: 100%;
    max-width: 550px;
}
.Africa_paragraph{
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    margin-top: 7%;
}
.Africa h2{
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}
.Africa p{
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      width: 100%;
      max-width: 700px;
}

@media (max-width: 480px) {
    .home_container {
        background-image: url('https://www.afro.who.int/sites/default/files/2023-05/SHUTTERSTOCK%20Credit%20-%20Vegetation%20contrast.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        width: 100%;
        height: auto; 
        min-height: 50vh;
    }
    .landing-container h2 {
        font-size: 2em; 
        padding: 30px; 
        margin-top: 50%;
    }

    .landing-container button {
        width: 100%;
        max-width: 200px;
        font-size: 1em; 
        padding: 8px; 
    }
    .section-img-container{
    }
    .section1-img {
        margin-top: 10%;
    }
    .section1-img img{
        max-width: 350px;
        margin-left: 0em;
        padding: 10px;
    }   
    .video-container iframe {
        width: 100%; 
        max-width: 350px;
        height: auto; 
        border: none;
        margin-top: 35%; 
    }
    .section2-img {
        max-width: 320px;
        mix-blend-mode: multiply;
        margin-top: 70%;
        padding: 40px;
    }
    .section-pagrh{
        width: 100%;
        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
        margin-left: 0em;
        margin-top: -34em;
        padding: 20px 10px 20px ;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
    }
    .section-pagrh p {
        width: 100%;
        font-size: 15px;
    }
    .section3_img p {
        font-size: 1.4em;
        width: 100%; 
        max-width: 800px; 
        text-align: center;
    }
    .Africa{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Africa p{
          width: 100%;
          max-width: 400px;
    }
    .section3_img {
        min-height: 60vh; 
    }
    .section3_img p {
        font-size: 1.2em;
        width: 100%;
        max-width: 350px;
        margin: 0;
    }
}