* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact_page {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    min-height: 100vh; /* Full viewport height */
    overflow: hidden; /* Hide overflow to ensure clean edges */
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    position: relative;
    color: #fff; /* Adjust text color based on video contrast */
    margin-top: 10%;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the whole container */
    z-index: -1; /* Ensure the video is behind other content */
}

.contact_page > * {
    position: relative;
    z-index: 1; /* Ensure content is above the video */
}
.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ff35;
}
form{
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    color: #333;
    margin: 25px;
}
form h2 {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    padding: 30px 0px;
    color: #000;
}
form .input_box{
    margin-top: 20px;
}
.input_box .field{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    margin-top: 8px;
    padding: 15px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.input_box.field.mess{
    resize: none;
    height: 200px;
}
form button{
    width: 100%;
    height: 55px;
    background-color: orange;
    border: none;
    border-radius: 6px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    cursor: pointer;
    margin-top: 25px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    transition: 0.5s;
}
form button:hover{
    background-color: rgb(172, 125, 40);
}