@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.footer {
    background-color: rgb(7, 50, 87);
    margin-top: 10%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.footer_line_one{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    padding: 20px;
}
.footer_line_one h2 {
    margin-top: 5%;
    color: #b0bad1;
    text-decoration: underline;
}
.social-media {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 25px;
}
.social-icon {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    transition: transform 0.3s ease, color 0.3s ease;
    animation: fadeInUp 1s ease-out;
}

.social-icon:hover {
    color: #007bff; /* Adjust color on hover */
    transform: scale(1.2);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.social_links {
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-start; 
    padding: 20px; 
    border-radius: 8px; 
    width: 100%; 
    margin-top: 30px; 
}

.services,
.aboutlinks,
.legal,
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.services h3,
.aboutlinks h3,
.legal h3 {
    color: #b0bad1;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 10px; 
    font-size: 1.2rem;
}

.services a,
.aboutlinks a,
.legal a {
    text-decoration: none; 
    color: #f2f2f2; 
    margin: 12px 0; 
    transition: color 0.3s ease; 
    font-size: 1rem; 
    font-weight: 400;
}

.services a:hover,
.aboutlinks a:hover,
.legal a:hover {
    color: #057c54; 
}
.subscribe h2{
    color: #b0bad1;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 10px; 
    font-size: 1.5rem; 
    display: flex;
}
.subscribe .field{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    margin-top: 8px;
    padding: 15px;
   font-family: "Playfair Display", serif; 
    font-weight: 400;
    color: #fff;
}
.subscribe button{
    margin-top: 10%;
    padding: 10px 20px; 
    background-color: orange;
    color: white; 
    border: none; 
    cursor: pointer;
    width: 100%;
    font-size: 1.5em;
    border-radius: 20px;
}
.subscribe button:hover{
    background-color: rgb(167, 119, 30);
}
.copyright p{
    text-align: center;
    color: #f2f2f2;
    padding: 15px;
    font-family: "Playfair Display", serif; 
     font-weight: 400;
     font-size: 20px;
     text-decoration: underline;
}
@media (max-width: 480px) {
    .footer_line_one{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;
    }
    .social_links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 20px;
    }
    .services,
.aboutlinks,
.legal,
.subscribe {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}
}
@media (min-width: 481px) and (max-width: 768px) {
    .footer_line_one{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;
    }
    .social_links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 20px;
    }
    .services,
.aboutlinks,
.legal,
.subscribe {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}
}
@media (min-width: 768px) and (max-width: 992px) {
    .footer_line_one{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;
    }
    .social_links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 20px;
    }
    .services,
.aboutlinks,
.legal,
.subscribe {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}
}