@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin-top: 10%;
    overflow: auto; 
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
    background-image: url('https://media.istockphoto.com/id/1350387478/video/aerial-fly-over-view-of-thin-free-roaming-cattle-in-search-of-food-and-water-drought-climate.jpg?s=640x640&k=20&c=gS05qs_5xCewglbughSO5T4HORy9hj9XjJ8f3rP8xQM=');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: auto; 
    position: relative;
    color: white; 
    object-fit: cover;
}
.landing-container h2 {
    z-index: 1; 
    margin-left: 3.5rem;
    padding: 20px;
    margin-top: 14%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.3);
    filter: grayscale(90%);
    font-size: 3em;
}

.landing-container button {
    z-index: 1; 
    margin-top: 20px;
    padding: 10px 20px; 
    background-color: orange;
    color: white; 
    border: none; 
    cursor: pointer;
    width: 20%;
    margin-left: 7rem;
    font-size: 1.5em;
}

.section-img-container {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; 
    margin-left: 5rem;
    margin-top: 5%;
    position: relative;
}
.section-img-container p {
    width: 40%;
    margin-left: 11rem;
    margin-top: 1.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
}
.section1-img{
    max-width: 600px;
    height: auto;
    max-height: 100vh;
}

.section2-img{
    max-width: 400px;
    max-height: 900vh;
}



/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .landing-container h2 {
        margin-left: 1rem; 
        width: 90%; 
        font-size: 2.5em; 
        padding: 20px; 
    }

    .landing-container button {
        width: 50%; 
        margin-left: 1rem; 
        font-size: 1.2em; 
        padding: 10px; 
    }
}

@media (max-width: 480px) {
    .landing-container h2 {
        font-size: 2em; 
        padding: 10px; 
    }

    .landing-container button {
        width: 60%; 
        font-size: 1em; 
        padding: 8px; 
    }
}